body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  display: flex; /* Organiza las cards en filas */
  flex-wrap: wrap; /* Asegura que las cards se envuelvan cuando no quepan en una fila */
  margin: 0 -8px; /* Para compensar el padding de las columnas */
}

.column {
  flex: 0 0 33.33%; /* Ancho de 33.33% para que aparezcan tres en una fila */
  padding: 8px; /* Ajustar los paddings */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 8px 16px; /* Ajustar los márgenes */
  text-align: center;
  display: flex; /* Convertir la card en un contenedor flexible */
  flex-direction: column; /* Alinear contenido verticalmente */
  justify-content: space-between; /* Espaciar el contenido verticalmente */
  align-items: center;
  border-radius: 20px;
  padding-top: 15px;

}

/* Ajustar el tamaño de las imágenes para que todas tengan la misma altura */
.card img {
  height: 175px;
  width: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #001b36;
  color: white;
}

.container {
  padding: 0 16px;
}

.container h2{
  height: 2em;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:  #001b36;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
